## Introduction to Python
- Here, we will discuss Strings, Lists, Dictionaries, Loops, and Functions

## Strings
- A Python string is a sequence which consist of one or more characters. The string is an immutable
data structure, which means they cannot be changed.  For example, if you define string str1 = "Satyamev jayate", 
then str1 will always remain "Satyamev jayate"

In [1]:
str1 = "Satyamev jayate"

In [2]:
# get the length of the string

In [9]:
## String Indexing


# get the last element of the string

# reverse the string


# Python slicing
str1[:3]

'Sat'

## String Methods

In [6]:
str2 = "What we think, we become"
# count() method


# index  and find method


# Turn string to uppercase


# Turn string to lowercase


# capitalize string

# Convert string to title


# split the string to get tokens

'What We Think, We Become'

## Lists
- Python list is also a built-in data structure available in Python. It can contain heterogeneous values 
such as integers, floats, strings, tuples, lists, and dictionaries. 
However, Python lists are mutable; yes, they can change

In [11]:
# creating a list with values
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor']

### Indexing a list

In [13]:
# get the first element

# reverse the list

# add element to the list

# update the second element of the list with "Captain-America"
Avengers[2] = "Captain-America"

# deleting an element from the list
del Avengers[0]

# adding a Python list to the already list
Avengers2 = ["Vision", "Sam"]
print(Avengers + Avengers2)
print(Avengers)   # original list was not affected

['hulk', 'iron-man', 'Captain', 'Thor', 'Spider']

## The in Operator

In [49]:
if "iron-man" in Avengers:
    print("Yes")
else:
    print("No")

Yes

## List Methods

In [11]:
l1 = [3,2,3,6,9,4,50]

# find the maximum

# find the minimum

# sort the list using sort() and sorted()
l1.sort(reverse = True)
print(l1)

# add Avengers2 to the original Avengers
#Avengers.extend(Avengers2)
#Avengers

[50, 9, 6, 4, 3, 3, 2]

In [65]:
# difference btw append and extend
Avengers.append(Avengers2)
Avengers

['iron-man', 'Captain-America', 'Thor', 'Vision', 'Sam', ['Vision', 'Sam']]

## For-loop and list comprehensions

In [72]:
# range function
l2 = list(range(10))

for i in range(10):
    print(i ** 2)

0
1
4
9
16
25
36
49
64
81

In [73]:
for i in range(10):
    if i % 2 == 1:
        print(i)

1
3
5
7
9

In [74]:
## list comprehensions
l3 = [i for i in range(10) if i % 2 == 1]
l3

[1, 3, 5, 7, 9]

## Functions

In [79]:
def add(a, b):
    result = sum((a, b))
    return result
add(3, 5)

8

In [80]:
def pay():
    hours = int(input("Enter hours: "))
    rate = float(input("Enter the rate: "))
    pay = hours * rate
    return pay
pay()

Enter hours: 8
Enter the rate: 50

400.0

In [16]:
list2 = [(1,5),(9,0),(12,3),(5,4),(13,6),(1,1)] 
new_list = []
for tup in list2:
    add = sum(tup)
    new_list.append(add)
sorted(new_list)

[2, 6, 9, 9, 15, 19]

## Dictionaries
- In Python, a dictionary is a sequence of key-value, or item, pairs separated by commas. 
- Consider the following example:
    - port = {22: "SSH", 23: "Telnet" , 53: "DNS", 80: "HTTP" } 
- The port variable refers to a dictionary that contains port numbers as keys and its protocol names as values. 
- Consider the following example:
    - companies = {"IBM": "International Business Machines", "L&T" :"Larsen & Toubro"} 
- The syntax of a dictionary is as follows:
    - Dictionary_name = {key: value}

In [19]:
# get the individual value for the key
Port = {80: "HTTP", 23 : "Telnet", 443 : "HTTPS"}

Port[80]

'HTTP'

## Updating the values in the dictionary

In [22]:
# suppose value of port 23 is "SMTP"


# Add another value in the dictionary
Port[110] = "POP"

In [9]:
# converting a dictonary to a string
str(Port)

"{80: 'HTTP', 23: 'Telnet', 443: 'HTTPS', 110: 'POP'}"

## Exercise
1. With the for loop, take the following list and sort it based on the sum of the values of the 
tuples of the list:
    - [(1,5),(9,0),(12,3),(5,4),(13,6),(1,1)] 
2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200.
3. Consider the dictionary below. Write a program that asks the user to enter an integer key, if the key is in the
dictionary, print "Yes" otherwise "No":
    - port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}